*{
    font-family:'Times New Roman', Times, serif;
}

body {
    color:#f4efe6;
    margin-left:215px;
    background-color:#171923;
}

section {
    color:#f0c987;
}

img{
    width:200px;
    height:200px;
    object-fit:cover;
}

/* navbar */

ul {
    list-style-type:none;
    left:0;
    margin:0;
    padding:0;
    width:200px;
    background-color:#242735;
    position:fixed;
    height:100%;
}

li a {
  display:block;
  text-align:center;
  color:#f4efe6;
  padding:8px 16px;
  text-decoration:none;
}

li a:hover {
  background-color:#3b4052;
  color:#ffffff;
}

.active {
  background-color:#5b6178;
  color:white;
}

/* quiz*/

.quizButton{
    width:120px;
    height:120px;
    border:none;
    border-radius:8px;
    font-size:24px;
    color:white;
    cursor:pointer;
}

.A{
    background-color:#e74c3c;
}

.B{
    background-color:#3498db;
}

.C{
    background-color:#f1c40f;
}

.D{
    background-color:#2ecc71;
}