*{
    font-family:'Times New Roman', Times, serif;

}

body {
    color:aliceblue;
}

section {
    color: burlywood;
}


/* quiz*/

A{
    color: crimson;

}

B{
    color:forestgreen;

}

C{
    color:dodgerblue;

}

D{
    color:lightyellow;

}